*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body,html{
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */
}

#main{
    width: 100%;
    height: 100%;
}

#nav{
    height: 80px;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#nav2 h4{
    font-size: 18px;
    font-weight: 600;
}

#nav2 h4 span{
    color: rgb(71,71,71);
    margin-left: 20px;
}

#circle{
    height: 22px;
    width: 22px;
    background-color: black;
    border-radius: 50%;
}

#nav-2{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 90px;
    padding: 0 50px;
}

#nav2 h3{
    font-size:18px ;
    text-transform: uppercase;
    font-weight: 600;
}

#content{
    height: calc(100% - 110px);
    width: 100%;
    /* background-color: aquamarine; */
}
#text-content{
    height: 40%;
    width: 100%;
    /* background-color: lightpink; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    /* background-color: red; */
    /* border: 2px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem h1{
    font-size: 130px;
    font-weight: 300;
}

#image-content{
    height: 65%;
    width: 100%;
    display: flex;
    overflow-x: auto;
    /* background-color: blue; */
}
#image-content::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#image-content img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}