*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,html{
    width: 100%;
    background-color: #000;
    height: 100%;
}

button{
    /* background-color: #000; */
    margin: 5vw;
}
button{
    padding: 10px 20px;
    background-color: transparent  ;
    border: 2px solid cyan;
    color: cyan;
    font-weight: 600;
    position: relative;
}

button::after{
    content: '';
    height: 100%;
    width: 0;
    background-color: cyan;
    position: absolute;
    left: 0;
    top: 0;
    transition: all linear 0.5s;
    z-index: -1;
}


button:hover::after{
    width: 100%;

}

button:hover{
    color: black;
}